@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<CastModel>;
 <h4 class="display-4">
    @ViewBag.Titile
</h4>
@{
    PageModel pager = new PageModel();
    int pageNo = 0;
    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}



    <div class="col-3">
        <a asp-controller="cast" asp-action="Create"> Add New Cast</a>
    </div>

<div class="row">
@foreach(var m in Model){
    <div class="col-4 mb-4">
    <div class="card" style="width: 18rem;">
  <img src="@m.ProfilePath" onerror="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/640px-A_black_image.jpg'" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@m.Name</h5>
  

    <a target="_blank" asp-protocol="https" asp-controller="" asp-host="@m.TmdbUrl.Remove(0,8)" asp-action="" asp-route-id="" class="btn btn-primary">Show Details</a>
  </div>
</div>
</div>
}
</div>

<div class="container">
    @if(pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @for(var pge=pager.StartPage; pge <=pager.EndPage; pge++)
            {
                <li class="page-item@(pge == pager.CurrentPage ? "active":"")">
                    <a class="page-link" asp-controller="Cast" asp-action="Index" asp-route-pg="@pge">@pge</a>
                </li>
            }
        </ul>
    }
</div>