@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<MovieResponseModel>;

 <div class="row">
     <div class="col-9">
         <h4 class="display-4">
    @ViewBag.Titile
</h4>
    <div class="col-3">
        <a asp-controller="movie" asp-action="Create"> Add New Movie</a>
    </div>

     </div>
 </div>



<div class="row">
@foreach(var m in Model){
    <div class="col-4">
    <div class="card" style="width: 18rem;">
  <img src="@m.PosterUrl" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@m.Title</h5>
    <p class="card-text">@m.Overview</p>
    <a target="_blank" asp-controller="movie" asp-action="detail"asp-route-id="@m.Id" class="btn btn-primary">Show Details</a>
  </div>
</div>
</div>
}
</div>